html {
    font-family: "Helvetica Neue Light", arial, sans-serif;
    font-size: 12pt;
    color: #fdfdfd;
    background-color: rgba(10, 10, 10, 0.8);
}

h1 {
    font-size: 14pt;
    background: url("/img/beatlab.png") no-repeat;
    background-size: contain;
    height: 90px;
}

h2 {
    font-size: 12pt;
}

div {
    width: 100%;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

textarea {
    height: 170px;
    font-family: inherit;
}

.input {
    width: 100%;
}

.field {
    padding: 3px;
    margin: 2px 0;
    background-color: #222;
    border: solid 1px #000;
    color: #fff;
    font-size: inherit;
}

button.field {
    margin-top: 5px;
    width: 8em;
    background-color: #222;
    border: solid 2px #999;
    border-radius: 2px;
}

.error {
    border-color: red;
}

#done, #fail {
    margin-top: 50px;
    display: none;
    text-align: center;
}